{
  "all": true,
  "branches": 3,
  "extension": [
    ".js",
    ".ts",
    ".tsx"
  ],
  "functions": 10,
  "include": [
    "dist/**/*.js",
    "src/**/*.ts"
  ],
  "lines": 10,
  "reporter": [
    "html",
    "text-summary"
  ],
  "require": [
    "ts-node/register"
  ],
  "statements": 10
}
